
/* Copiei e colei do index.css para meu arquivo de estilização */

/* Base */
/* Fonte: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fiquem atentos ao caminho passado para que o arquivo seja localizado */
@import url('../Principal/style/variables.css'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.conteudo-learn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 120px;
    width: 1420px;
    margin: 0 auto;
}

.img-circle img{
    width: 145px;
}

.img-circle {
    display: flex;
    justify-content: right;
    
    
}

.conteudo-learn h1{
    display: flex;
    flex-direction: column;
     font-size: 60px;
     font-weight: var(--text-bold);
     width: 60%;
     color: rgba(43, 39, 48, 1);   
}

.conteudo-learn p span {
    color: rgba(255, 187, 0, 0.945);
}

.imagem-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 675px;
    border: 15px solid var(--clr-dark);
    border-radius: 45px;
    filter: grayscale();
    margin-top: 50px;
}

/* conteudo do jefferson */
.conteudo-engage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 39, 48, 1);
    color: white;
    width: 1180px;
    margin: 0 auto;
    height: 400px;
    border-radius: 45px; 
    /* coloquei para afastar da 1 section */
    margin-top: 30px;
    
}

.conteudo-engage h1 {
    font-size: 60px;
    font-weight: var(--text-bold);
}

.conteudo-engage p {
    margin-top: 15px;
}

.conteudo-engage button {
    background-color: #FAB80C;
    margin-top: 15px;
    width: 180px;
    height: 60px;
    border-radius: 45px;
    height: 65px;
    font-size: 15px;
    
}